#container {
  position: absolute;
  margin-top: 5vh;
  width: 80vw;
  height: 90vh;
  left: 10vw;
  display: grid;
  grid-template-columns: 5vw 5vw 17.5vw 17.5vw 17.5vw 17.5vw;
  grid-row-gap: 10px;
  /* border: 1px solid black; */
  margin-top: 0;
}
#container > div:nth-child(8n + 1),
#container > div:nth-child(8n + 2),
#container > div:nth-child(8n + 3),
#container > div:nth-child(8n + 4) {
  background-color: rgba(2, 97, 24, 0.466);
  color: white;
}
#header {
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 10px;
  /* border: 1px solid black; */
}
#column-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}
#column-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
#column-3 {
  grid-column-start: 3;
  grid-column-end: 6;
}
#column-4 {
  grid-column-start: 6;
  grid-column-end: 7;
  padding: 10%;
}
#header button {
  background-color: rgb(10, 63, 46);
  width: 10vw;
  margin-left: 15%;
  height: 30px;
  color: white;
  border: none;
  border-radius: 3%;
}
.btn-warning {
  margin-left: 50px;
  background-color: white;
}
.btn-danger {
  background-color: white;
  color: red;
}
